## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [169]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [170]:
data[data['sex'] == 'Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [171]:
usa_count = data[data['native-country'] == 'United-States']['native-country'].count()
all_count = data['native-country'].count()
usa_count / all_count * 100

89.5857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [99]:
age_bigger_then_50K = data[data['salary'] == '>50K']['age']
print('Bigger than 50K:')
print(f'Mean is: {age_bigger_then_50K.mean()}')
print(f'Std is: {age_bigger_then_50K.std()}')

age_less_then_50K = data[data['salary'] == '<=50K']['age']
print('Less than 50K:')
print(f'Mean is: {age_less_then_50K.mean()}')
print(f'Std is: {age_less_then_50K.std()}')

Bigger than 50K:
Mean is: 44.24984058155847
Std is: 10.519027719851826
Less than 50K:
Mean is: 36.78373786407767
Std is: 14.02008849082488

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [102]:
educations = ('Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate')
data[data['salary'] == '>50K']['education'].apply(lambda x: x in educations).all()

False

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [34]:
# data[data['race'] == 'Asian-Pac-Islander'].max()
A = data.groupby('race')['age'].describe()
B = data.groupby('race')['sex'].describe()

max_age = A['max']['Asian-Pac-Islander']
max_age

90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [51]:
married = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].apply(lambda x: x.startswith('Married')))]['marital-status'].count()
others = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].apply(lambda x: not x.startswith('Married')))]['marital-status'].count()
all_male = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]['sex'].count()
# all_male == married + others
print(f'The proportion of married mans {married/all_male}')
print(f'The proportion of others mans {others/all_male}')

The proportion of married mans 0.8953767637346143
The proportion of others mans 0.10462323626538576

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [64]:
max_hours_per_week = data['hours-per-week'].max()
earns_a_lot = data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')]['sex'].count()
works_max_hours = data[data['hours-per-week'] == max_hours_per_week]['sex'].count()
print(f'Max hours per week: {max_hours_per_week}')
print(f'Count of people who works max hours per week: {works_max_hours}')
print(f'The proportion of people who earns a lot: {earns_a_lot/works_max_hours}')

Max hours per week: 99
Count of people who works max hours per week: 85
The proportion of people who earns a lot: 0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [82]:
mean_who_earns_a_lot = data[data['salary'] == '>50K'].groupby('native-country').describe()['hours-per-week']['mean']
mean_who_earns_a_little = data[data['salary'] == '<=50K'].groupby('native-country').describe()['hours-per-week']['mean']

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: mean, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [101]:
data["age_group"] = pd.cut(x=data['age'], bins=[16,35,70,100], labels=["young","adult","retiree"])
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,age_group
74,79,Private,124744,Some-college,10,Married-civ-spouse,Prof-specialty,Other-relative,White,Male,0,0,20,United-States,<=50K,retiree
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,retiree
157,71,Self-emp-not-inc,494223,Some-college,10,Separated,Sales,Unmarried,Black,Male,0,1816,2,United-States,<=50K,retiree
222,90,Private,51744,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,2206,40,United-States,<=50K,retiree
228,75,Private,314209,Assoc-voc,11,Widowed,Adm-clerical,Not-in-family,White,Female,0,0,20,Columbia,<=50K,retiree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32494,82,?,403910,HS-grad,9,Never-married,?,Not-in-family,White,Male,0,0,3,United-States,<=50K,retiree
32501,71,Private,138145,9th,5,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K,retiree
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K,retiree
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,retiree
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,retiree

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [132]:
df = data[data['salary'] == '>50K'].groupby('age_group').describe()['age']['count']
df[df.values == df.max()]

age_group
adult    6042.0
Name: count, dtype: float64

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [168]:
df = data.groupby('occupation').describe()
series_count = df['age']['count']

def filter(df):
    filter_df = df[(df['age']['mean'] <= 40.0) & (df['hours-per-week']['min'] > 5)]
    return filter_df


print(filter(df)[['hours-per-week', 'age']])

             hours-per-week                                               \
                      count       mean        std  min   25%   50%   75%
occupation
Armed-Forces            9.0  40.666667  14.071247  8.0  40.0  40.0  48.0

                     age
               max count       mean       std   min   25%   50%   75%   max
occupation
Armed-Forces  60.0   9.0  30.222222  8.089774  23.0  24.0  29.0  34.0  46.0